<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Debut Test03-->
  <!--<configSections>
    <section name="InformationsUtilisateur" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <InformationsUtilisateur>
    <add key="login" value="nico" />
    <add key="motdepasse" value="12345" />
    <add key="age" value="30" />
  </InformationsUtilisateur>-->
  <!--Fin Test03-->
  <!-- Debut Test04-->
  <!--<configSections>
    <section name="MonUtilisateur" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <MonUtilisateur prenom="Nico" age="30" adresse="9 rue des bois"/>-->
  <!--Fin Test04-->
  <!-- Debut Test05-->
  <!--<configSections>
    <sectionGroup name="Utilisateur">
      <section name="ParametreConnexion" type="System.Configuration.SingleTagSectionHandler" />
      <section name="InfoPersos" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>

  <Utilisateur>
    <ParametreConnexion Login="Nico" MotDePasse="12345" Mode="Authentification Locale"/>
    <InfoPersos>
      <add key="prenom" value="Nicolas" />
      <add key="age" value="30" />
    </InfoPersos>
  </Utilisateur>-->
  <!-- Fin Test05-->
  <!-- Début Test06-->
  <!--<configSections>
    <section name="PersonneSection" type="TestConfiguration.PersonneSection, TestConfiguration" />
  </configSections>
  <PersonneSection prenom="nico" age="30"/>-->
  <!-- Fin Test06-->
  <!-- Début Test07-->
  <configSections>
    <section name="ListeClientSection" type="TestConfiguration.ListeClientSection, TestConfiguration" />
  </configSections>
  <ListeClientSection>
    <Client prenom="Nicolas" age="30"/>
    <Client prenom="Jérémie" age="20"/>
  </ListeClientSection>
  <!-- Fin Test07-->
  <appSettings>
    <add key="prenom" type="string" value="nicolas"/>
    <add key="age" type="int" value="30"/>
  </appSettings>
  <!--Test02-->
  <connectionStrings>
    <add name="MaConnection" providerName="System.Data.SqlClient"
  connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Base1; Integrated Security=true"/>
    <add name="MaConnection2" providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Base2; Integrated Security=true"/>
  </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>